/* GPSummary.css */

.gpssummarycontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 60px;
    width: 190vh;
    height: 100vh;
    border: 2px solid;
  }
  
  .gpssummaryheading {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .gpssummarytable {
    width: 100%;
    border-collapse: collapse;
  }
  
  .gpssummarytable th,
  .gpssummarytable td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ccc;
  }
  
  .gpssummarytable th {
    background-color: #f2f2f2;
    font-weight: bold;
  }
  
  .gpssummarytable th:first-child,
  .gpssummarytable td:first-child {
    width: 30%;
  }
  
  .gpssummarytable td {
    cursor: pointer;
  }
  
  .gpssummarypagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .gpssummarypagination button {
    margin: 0 5px;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
  }
  
  .gpssummarypagination button:hover {
    background-color: #0056b3;
  }
  
  .gpssummarysearch {
    margin: 20px 0;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
  }
  
  .gpssummarysearchinput {
    width: 200px;
    height: 30px;
    padding: 5px;
    margin-right: 10px;
  }
  
  .gps-summary-search-button {
    height: 30px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .gps-summary-search-button:hover {
    background-color: #0056b3;
  }
  